<h1>Liste des utilisateurs</h1>
<form method="get" name="formulaire" action="{{ url('users.new') }}">
  <button type="submit">Ajouter</button>
</form>
<table>
<thead>
  <tr>
    <th>ID</th>
    <th>NOM</th>
    <th>PRENOM</th>
    <th>LISTE JOUEURS</th>
    <th>ACTION</th>
  </tr>
</thead>
<tbdoy>
{% for user in users %}
   <tr>
     <td>{{user.id}}</td>
     <td>{{user.nom}}</td>
     <td>{{user.prenom}}</td>
     <td>
     <select name="Joueur" id="Joueur" />
     <option value="1">Liste de joueurs</option>
     {% for footballer in footballer%}
      {% if user.id==footballer.idmaster %}
     <option value="1">{{footballer.nom}} {{footballer.prenom}} {{footballer.poste}}</option>
     {% endif %}
     {% endfor %}
     </td>
 </select>
     <td>
       <form method="post" name="formulaire" action="{{ url('users.delete', {id: user.id}) }}">
            <button type="submit">Supprimer</button>
        </form>
      </td>
      <td>
        <form method="get" name="formulaire" action="{{ url('users.edit', {id: user.id}) }}">
          <button type="submit">Modifier</button>
        </form>
      </td>
   </tr>
{% endfor %}
</tbdoy>
</table>
